<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <!-- Image and text -->
    <div class="container encabezado">
      <div class="row">
        <div class="col-12 col-md-3 columnaEncabezado logo">
          <img src="/images/logo.png">
        </div>
        <div class="col-12 col-md-5 columnaEncabezado">
          <h1>SISTEMA HSEQ <br> Certificado de calibración de instrumentos</h1>
        </div>
        <div class="col-12 col-md-4 columnaEncabezado">
          <div class="table-responsive">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>Documento:</td>
                  <td>MS-Q-FO-023</td>
                </tr>
                <tr>
                  <td>Fecha</td>
                  <td>Miercoles 23 Julio</td>
                </tr>
                <tr>
                  <td>Revisión</td>
                  <td>H</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="row ">

      </div>
    </div>

  </header>
  <main>
    <div class="container datosCertificados">
      <div class="container">
        <h2>1. DATOS DE CERTIFICADO DE CALIBRACIÓN</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td scope="row">Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td scope="row">Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td scope="row">Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <h2>2. DATOS DE EQUIPO A CALIBRAR</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>%</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container">
        <h2>3. DATOS PATRONES UTILIZADOS</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="container calibracion">
      <h2>4. CALIBRACIÓN</h2>
      <div class="container">
        <h3>4.1 DATOS DE LAS CORRIDAS PRE CALIBRACIÓN</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <div class="row">

          <div class="col-12 col-md-6">
            <div class="table-responsive">
              <table class="table">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>44,5</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>75,8</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td>99,9</td>
                    </tr>
                  </tbody>
                </table>
              </table>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <canvas id="myChart" width="100%" height="100%"></canvas>
          </div>
        </div>
      </div>
      <div class="container ">
        <h3>4.2 DATOS DE LAS CORRIDAS POST CALIBRACIÓN</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <div class="row">

          <div class="col-12 col-md-6">
            <div class="table-responsive">
              <table class="table">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Valor</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>44,5</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>75,8</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td>99,9</td>
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td>99,9</td>
                    </tr>

                  </tbody>
                </table>
              </table>
            </div>
          </div>
          <div class="col-12 col-md-6 ">
            <canvas id="myChart2"width="100%" height="100%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container datosFinales">
      <h2>5. RESULTADOS</h2>
      <p>Instrumento apto para su instalacion</p>
    </div>
    <div class="container">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ul>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
        quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
  </footer>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: ['Corrida 1', 'Corrida 2', 'Corrida 3', 'Corrida 4', 'Corrida 5', 'Corrida 6', 'Corrida 7', 'Corrida 8', 'Corrida 9', 'Corrida 10'],
        datasets: [{
          label: 'Datos de precalibracion',
          backgroundColor: 'rgb(42, 99, 132)',
          borderColor: 'rgb(111, 39, 92)',
          data: [0, 10, 5, 2, 20, 30, 45,2,6,77]
        }]
      },

      // Configuration options go here
      options: {}
    });

  </script>
    <script>
      var ctx = document.getElementById('myChart2').getContext('2d');
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
  
        // The data for our dataset
        data: {
          labels: ['Corrida 1', 'Corrida 2', 'Corrida 3', 'Corrida 4', 'Corrida 5', 'Corrida 6', 'Corrida 7', 'Corrida 8', 'Corrida 9', 'Corrida 10'],
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(15, 99, 232)',
            borderColor: 'rgb(111, 39, 92)',
            data: [0, 10, 5, 2, 20, 30, 45,2,6,77]
          }]
        },
  
        // Configuration options go here
        options: {}
      });
  
    </script>
</body>

</html>